.contenedor-carrusel {
    max-width: 100%;
   
}

.imagen-carrusel {
    object-fit: cover;
    max-height: 400px;
    width: 100%;
    
}

.div-carousel-container-f{
    background-color:#333333 ;
    
}
.carousel-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .carousel-item.active {
    opacity: 1;
    position: relative;
  }