.div-sign {
    background-color: #222222;
    color: #ffcc00;
}

.form-control.div-sign-up-input:focus{
    background-color: #222222;
    color: white;
    outline: none;
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
    
}

.form-control.div-sign-up-input {
    background-color: #222222;
    color: white;
    
}