.div-sign-in {
    background-color: #222222;
    color: #ffcc00;
    border: 1px solid white;
}

.form-control.div-sign-in-input:focus{
    background-color: #222222;
    color: white;
    outline: none;
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
}

.form-control.div-sign-in-input {
    background-color: #222222;
    color: white;
}


.cart-container{
    min-height: 60vh;
}