.form-control.input-manage{
    background-color: #222222;
    color: white;
    
}

.form-control.input-manage:focus{
    background-color: #222222;
    color: white;
    outline: none;
    
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
}

